= form_for @participant , :html => {:class => 'participant-form'} do |f|
  .control-group
    = f.label :full_name, '* Full name', :class => 'control-label'
    .controls
      = f.text_field :full_name, :placeholder => t('form.placeholders.full_name'), :class => 'input-xlarge'
  .control-group
    = f.label :email, '* Email', :class => 'control-label'
    .controls
      = f.email_field :email, :placeholder => t('form.placeholders.email'), :class => 'input-xlarge'
  .control-group
    = f.label :company, :class => 'control-label'
    .controls
      = f.text_field :company, :placeholder => 'Where you work', :class => 'input-xlarge'
  .control-group
    = f.label :something_funny, :class => 'control-label'
    .controls
      = f.text_area :something_funny, :placeholder => t('form.placeholders.something_funny'), :class => 'input-xlarge textarea'

  .control-group
    .controls
      = f.submit :class => 'btn', :id => 'participant-submit-button'